/* Reset some default styles */

body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f6f6;
    color: #333;
}

/* General styles for the whole page */

header, nav, section, footer {
    margin: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styles for specific elements within sections */

h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 10px;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color:#0055ff;
    transition: color 0.3s ease;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Additional section-specific styles */

#upcoming-matches .match, #results .result, #club-history p, #sponsors .sponsor-list li, #donate p {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#upcoming-matches .match-date, #results .result-date {
    font-weight: bold;
    color: #333;
}

#upcoming-matches .match-opponent, #results .result-opponent, #upcoming-matches .match-location, #club-history p, #sponsors h2, #sponsors p, #donate h2 {
    color: #555;
}

#online-shop .product, #contact, #reviews {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#online-shop .product img, #sponsors .sponsor-list img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#online-shop .product-name, #sponsors h2, #sponsors p, #donate h2, #donate p {
    margin-bottom: 10px;
    color: #333;
}

#online-shop .product-price, #sponsors .sponsor-list img {
    color: #777;
}

#cart {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#cart-items li span {
    float: right;
    color: #555;
}
